<DOCTYPE html>
<head>
<title>user dashboard</title>
</head>
<body>
 	<p>
 	Search Results
 	</p>

 	<h2></h2>
 	<div>
 	<% results.forEach( function(result){ %>
 	
 	<p>
 	-----------------------------<br>
 	Vehicle Name : <%= result.model %><br>
 	Class : <%= result.class %><br>
 	Seats : <%= result.seats %><br>
 	Rate/Hr : <%= result.rateperhour %><br>
 	Rating : <%=result.rating %><br>
 	<img src="/assets/img/<%=result.image_name%>.jpeg" >
 	<form action="/makebooking" method="post">
  			Current Latitute : <input type="text" name="lat" ><br>
  			Current Longitude : <input type="text" name="long" ><br>
  			
  			<input type="hidden" name="id" value="<%= user_id %>" >
  			<input type="hidden" name="reg_no" value="<%= result.reg_no %>" >
  			<input type="hidden" name="start" value="<%= start %>" >
  			<input type="hidden" name="end" value="<%= end %>" >
  			<input type="submit" value="Book">
		</form>
 	-----------------------------<br>
 	<p>
 	<%})%>	

 	</div>
 	

</body>