<DOCTYPE html>
<head>
<title>user dashboard</title>
</head>
<body>
 	
 	<h1> Bookings Number : <%= results.no%> </h1>
 	<p>
 	Car Number : <%= results.reg_no %><br>
 	Start : <%= results.start %><br>
 	End : <%= results.end %><br>
 	First Name : <%= results.first_name %><br>
 	Last Name : <%= results.last_name %><br>
 	Phone Number : <%= results.phone_no %><br>
 	<form action="/deletebooking" method="post">
  			<input type="hidden" name="booking_no" value="<%=results.no%>"<<br>
  			<input type="submit" value="Delete Booking">
	</form> 

</body>